@font-face {
    font-family: 'kollektifregular';
    src: url('../kollektif/kollektif-webfont.woff2') format('woff2'),
         url('../kollektif/kollektif-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



.personalbrand_banner {
    width: 100%;
    margin-top: 85px;
    position: absolute;
}




.personalbrand_banner_overlay {
    width: 100%;
    margin-top: 95px;
    position: relative;
}


*, *:before, *:after {
  padding: 0;
  box-sizing: border-box;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

html, body {
    height: 100%;
    background-color:white;
    margin: 0;  
    height:900px;
    margin: 0px auto 0px auto;
    font-family: 'kollektifregular';
}


.sdzpostcard_indesign.exterior {
    margin-right: 26px;
}

ul {
  list-style: none;
  margin-top: 40px;
  margin-bottom: 39px;
  padding-left: 7%;
}

h1 {
  padding: 30px 0;
  font: 1.5em 'Open Sans', sans-serif;
  text-align: center;
}

nav {
  background-color: white;
  box-shadow: -5px -1.5px 12px #000000;
  width: 100%;
  z-index: 40;
  font-size: 24px;
  position: fixed;
}

ul a {
  padding-right: 23px !important; /* important overrides media queries */
  font-size: 24px;
  color: #464646;
  cursor: pointer;
  text-decoration: none;
}

nav li {
  float: left;
}

.paragraph.sdzlogo_final {
    padding-left: 107px;
    padding-right: 135px;
    margin: auto;
    max-width: 945px;
}

.previousversion {
    height: 229px;
    float: left;
}


.previousversion.one {
    margin-top: 55px;
}

.previousversion two {

}

.sdzlogo_final {
    height: 198px;
}

.sdzlogo_final_box {
    padding-left: 40%;
    margin-top:  43px;
    padding-right: 40%;
    margin-bottom: 32px;
}

nav li:last-child {
  border-right: none;
}

.body {
    overflow-x:hidden;
}

.header {
    height: 102px;
    background-color: white;
    box-shadow: -5px -1.5px 12px #000000;
    width: 100%;
    z-index: 40;
    font-size: 24px;
    position: fixed;
}

.images_slider {
        width: 100%;
}

.twobox {
    margin-top: 76px;
    float: left;
    margin-bottom: 50px;
    margin-left: 100px;
}

.onebox {
    float: left;
    margin-left: 100px;
}

.two.content {
    margin-top: -46px;
    margin-left: 76px;
}


.content {
    max-width: 906px;
    margin-left: 80px;
    padding-right:  55px;
    float: initial;
    line-height: 2;
    padding-left: 190px;
    font-size:  19px;
    padding-top:  78px;
    background-color: #E5E5E5;
    color: #525252;
}

a {
    text-decoration: none;
    color: #464646;
}

a:hover {
  color: #FF243D;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}


.socmed {
  height: 60px;
  float: left;
  margin-top:  53px;
  padding-right: 200px;
  margin-left: 59px;
  margin-bottom: 34px;
}

.socmed_images {
  float: right;
  color: #818181;
  margin-left: 25px;
}


.socmed_images:hover {
  color: #FF243D;
    -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

.actualbanner {
    width: 100%;
    margin-top: 95px;
}

.actualoverbanner {
    width: 100%;
    margin-top: 95px;
    position: relative;
}

.project_banner_info {
    width: 34%;
    height: 355px;
    background-color: #2BBEFF;
    margin-top: -355px;
    float: right;
}

.banner {
    height: auto;
    padding-top: 0px;
}


.banner_text {
    font-size: 47px;
    margin-top: -24%;
    width: 50%;
    padding-left: 8%;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
    line-height: 1.4;
    color: white;
    z-index: 10;
    font-weight: 700;
}

.project_banner_info_text {
    width: 317px;
    font-size: 21px;
    margin-top: 77px;
    margin-right: 50px;
    line-height:1.8;
    color: white;
    float: right;

}


.paragraph {
    max-width: 660px;
    line-height: 2;
    color: #464646;
    margin-top: 12px;
    font-size: 21px;
    margin-bottom: 40px;
}



.measurements_title {
    color: #525252;
    font-size: 29px;
    padding-top: 0px;
}

.measure_textbox {
    float: left;
    width: 204px;
    text-align: center;
    padding-left: 2%;
}


.indesign_proof {
    width: 100%;
    background-color: #E5E5E5;
    height: auto;
    overflow: hidden;
    float: left;
    margin-top: 100px;
}

.content.idea {
    height: auto;
    margin-top: 10px;
}

.content.revisions {
    margin-top: -38px;
}

.sdzpostcard_indesign {
    height: 700px;;
    float: left;
    margin-top: 19px;
    margin-bottom: 49px;
}

.indesign_text {
    font-size: 28px;
    margin-top: 46px;
    margin-left: 100px;
    color: #525252;
}

.paragraph.idea {
    margin-bottom: 20px;
}

.slider_bar {
    margin-left: 394px;
}

.paragraph.slide {
    margin-top: -19px;
}

.measurements_box.hideme {
    opacity: 0;
}



@media screen and (min-width: 1920px) {
    .socmed_images {
        height: 55px;
        margin-bottom: 80px;
        margin-right: 16px;
    }

    ul a {
        font-size: 38px;
        margin-right: 20px;
    }

    nav li {
        margin-top: 11px;
    }

    .actualbanner {
        margin-top: 115px;
    }

    .project_banner_info {
        width: 33%;
    }


    .project_banner_info_text {
        width: 77%;
    }

    .indesign_text {
        font-size: 36px;
    }

    .sdzpostcard_indesign {
        height: 950px;
        margin-top: 40px;
    }

    .indesign_proof {
        height: auto;
    }


    .banner_text {
        font-size: 70px;
    }


    .sub_title {
        font-size: 50px;
        height: 77px;
    }

    .sub_title_line {
        width: 244px;
        height: 10px;
    }

    .sub_title_line.idea {
        width: 120px;
    }

    .indesign_text {
        font-size: 43px;
    }


    .measurements_title {
        font-size: 46px;
        margin-right: 66px;
    }

    .measurement_box {
        margin: 0px;
        padding-left: 302px;
        margin-top: 50px;
    }

   .duration_image {
        width: 83.09px;
        margin-right: 63px;
    }

    .images_slider {
        width: 147%;
    }

    .paragraph.idea {
        margin-bottom: 35px;
    }

    .prev, .next {
        font-size: 87px;
        margin-top: -66px;
    }

    .prev {
        margin-left: 30px;
    }

    .next {
        margin-right: -360px;
    }

    .duration_description {
        font-size: 29px;
        width: 250px;
    }

    .measure_textbox {
        width: 338px;
    }

}


@media screen and (max-width: 1200px) {


    .banner_text {
        font-size: 43px;
    }

}



@media screen and (max-width: 1050px) {
    .images_slider {
        width: 77%;
    }

    .indesign_proof_box {
        width: 519px;
        margin-left: 39px;
    }


    .next {
        margin-right: 195px;
    }

    .sdzpostcard_indesign.exterior {
        margin-bottom: 17px;
    }

}



@media screen and (max-width: 1048px){
    .measure_textbox {
        padding-left: 1%;
        width: 173px;
    }

    .duration_description {
        font-size: 16px;
    }

    .duration_image {
        width:50.09px;
    }

    .measurement_title {
        font-size: 27px;
    }

    .indesign_text {
        margin-top: 44px;
    }



}

@media screen and (max-width: 938px){

    ul {
        padding-left: 0px;
    }

    .header {
        height: 84px;
    }


  .hamburger {
    width: 138px;
    height: 85px;
    padding: 29px;
    display: block;
  }

  .line {
    border-bottom: 4px solid #C0C0C0;
    width: 35px;
    height: 5px;
    margin-bottom: 6px;
  }
  
  .line:last-child {
    margin-bottom: 0;
  }

  nav li {
    width: 100%;
  }
  
  .menu {
    height: 0;
    margin-bottom: 0px;
    overflow: hidden;
  }
  
  .slide-down {
    background-color: white;
    height: 192%;
  }

  .actualoverbanner {
      margin-top: 84px;
  }

  .actualbanner {
      margin-top: 79px;
  }

  li {
      text-align: center;
      margin-bottom: 20px;
      color:white;
  }

  ul {
      margin-top: 0px;
  }


}

@media screen and (max-width: 750px) {

        .indesign_proof {
        margin-top: 140px;
    }
}



@media screen and (max-width: 750px) {

    .content {
        padding-left: 7%;
    }


    .banner_text {
        font-size: 40px;
    }

    .content {
        padding-left: 0px;
        margin-left: 0px;
        padding-top: 30px;
        float:left;
    }

    .paragraph.sdzlogo_final {
        padding-left: 4%;
    }

    .two.content {
        margin-top: 0px;
        margin-left: 30px;
    }

    .sdzlogo_final_box {
        padding-left: 34%;
    }


}



@media screen and (max-width: 730px) {
    .measurements_box {
        float: left;
    }



    .content.idea {
        margin-top: 20px;
    }

    .next {
        margin-right: 144px;
    }

    .prev {
        margin-left: 9px;
    }






    
}

@media only screen and (max-width: 730px) {
    .banner_text {
        font-size: 24px;
        width: 75%;
        margin-left: 7%;
        margin-top: -36%;
    }

    .paragraph {
        margin-top: 5px;
    }

    .measurements_title {
        font-size: 25px;
    }

    .duration_image {
        width: 42.09px;
    }

    .duration_description {
        font-size: 14px;
    }


    .measure_textbox {
        margin-bottom: 29px;
    }

    .measurements {
        margin-top: -16px;
        padding-top: 27px;
        padding-bottom: 0px;
    }
    
    .next {
        margin-right: 90px;
        margin-top: -38px;
    }

    .prev {
        margin-left: -6px;
        margin-top: -38px;
    }


    .indesign_text {
        font-size: 25px;
        width: 519px;
        margin-top: 36px;
    }

    .content {
        padding-top: 19px;
        width:90%;
    }



    .sub_title_line {
        height: 4px;
    }

    .socmed_images {
        float: left;
    }

    .socmed {
        margin-bottom: 11px;
        margin-left: 14px;
    }

    p {
        margin-top: 9px;
    }

    .paragraph.slide {
        margin-bottom: 13px;
    }
}



@media only screen and (max-width: 692px) {
    .measurements_box {
        width: 65%;
    }

    .measurements_box.hideme {
    opacity: 1;
    }

    .sdzlogo_final {
        height: 154px;
    }


        .indesign_proof {
        margin-top: 250px;
    }


}




@media only screen and (max-width: 550px) {
    .paragraph {
    font-size: 20px;
    }


    .sdzpostcard_indesign {
        height: 500px;
    }

        .indesign_proof {
        margin-top: 280px;
    }

    .measurements_box {
        width: 50%;
    }

    .measurements {
        margin-top: 59px;
    }

    .content {
        padding-left: 24px;
        padding-top: 20px;
        line-height: 1.8;
    }

    .sub_title {
        font-size: 29px;
        height: 46px;
    }

    .sub_title_line.idea {
        width: 61px;
    }

    .sub_title_line {
        width: 119px;
    }

}

@media only screen and (max-width: 501px) {
    .measurements {
        margin-top: 37px;
        padding-bottom: 19px;
    }

    .indesign_text {
        padding-left: 31%;
        margin-left: 0px;
    }

    .onebox {
        padding-left:  24px;
        margin-left: 0px;
    }

    .sdzlogo_final {
        height: 119px;
    }

    .twobox {
        padding-left: 24px;
        margin-left: 0px;
    }

    .two.content {
        margin-left: 0px;
    }


    .indesign_proof {
        margin-top: 350px;
    }


}


@media only screen and (max-width: 440px) {
    .measurements {
        margin-top: 37px;
        padding-bottom: 3px;
    }


    .content {
        margin-top: 6px;
    }

    .content.idea {
        padding-top: 0px;
    }

        .measurements {
        margin-top: 100px;
    }

    p {
        margin-top: 0px;
    }

    .indesign_text {
        font-size: 19px;
    }

    .indesign_proof_box {
        margin-left: 18px;
    }

    .next {
        margin-right: 75px;
        font-size: 22px;
    }

    .prev {
        margin-right: 0px;
        font-size: 22px;
    }

}

